name: build
on:
  pull_request:
    branches: "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: np-complete/build-book-action@v2
        with:
          config: config.ebook.yml
      - uses: actions/upload-artifact@v6
        with:
          name: book
          path: book.pdf
