name: build
on:
  pull_request:
    branches: "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: np-complete/build-book-action@v1
        with:
          config: config.ebook.yml
      - uses: actions/upload-artifact@v5
        with:
          name: book
          path: book.pdf
