name: build
on:
  pull_request:
    branches: "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: np-complete/build-book-action@d3d8a00ba33ad65dafabafccbec7b6cc614e1597 # v2.1
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: book
          path: book.pdf
